// $clr-1: #ffcdb2;
$clr-1: #ffdecc;
// $clr-1: #ffeee5;
$clr-2: #F08080;
// $clr-3: #DFFDFF;
// $clr-3: #93f8ff;
// $clr-3: #93ddff;
$clr-3: #47c5ff;
$neutral-1: #000000;
$neutral-2: #FFF;

@mixin background-1 {
	background-color: $clr-1;
}

@mixin background-2 {
	background-color: $clr-2;
}

@mixin background-3 {
	background-color: $clr-3;
}

@mixin border-1 {
	border-color: $clr-1;
}

@mixin border-2 {
	border-color: $clr-2;
}

@mixin border-3 {
	border-color: $clr-3;
}

@mixin font-color-1 {
	color: $neutral-1;
}

@mixin font-color-2 {
	color: $neutral-2;
}

body {
	color: $neutral-1;
}