/*
 * This is the old colors
 * $clr-1: #ffdecc;
 * $clr-2: #F08080;
 * $clr-3: #47c5ff;
 */

/*
 * This is a good purple option
 * $clr-1: #D8DCFF;
 * $clr-2: #AEADF0;
 * $clr-3: #FFFBD8;
 */

/*
 * This is a good green option
 * $clr-1: #C3F3C0;
 * $clr-2: #62A87C;
 * $clr-3: #7EE081;
 */

/* This is a decent orange option
 * $clr-1: #FBD1A2;
 * $clr-2: #F79256;
 * $clr-3: #F9FBA2;
 */

$clr-1: #D8DCFF;
$clr-2: #AEADF0;
$clr-3: #FFFBD8;
$link-clr: #8382E8;

$neutral-1: #000000;
$neutral-2: #FFF;

@mixin background-1 {
	background-color: $clr-1;
}

@mixin background-2 {
	background-color: $clr-2;
}

@mixin background-3 {
	background-color: $clr-3;
}

@mixin border-1 {
	border-color: $clr-1;
}

@mixin border-2 {
	border-color: $clr-2;
}

@mixin border-3 {
	border-color: $clr-3;
}

@mixin font-color-1 {
	color: $neutral-1;
}

@mixin font-color-2 {
	color: $neutral-2;
}

body {
	color: $neutral-1;
}